{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto RETAIL Django - Info App</title>
    <img src="{% static 'images/estaticas/webpay.png' %}" alt="Logo de la aplicación" width="200">  
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">   
</head>
<body>

    <nav>
        <a href="/">Volver al menú principal</a>
    </nav>

    <section>
        <h1>Bienvenido a la aplicación InfoApp</h1>
        <h2>Esta es una aplicación de ejemplo para el proyecto RETAIL Django.</h2>
        <h3>Aquí puedes encontrar información relevante sobre la aplicación y su funcionalidad.</h3>
        <h4>Explora las diferentes secciones y disfruta de la experiencia.</h4>
    </section>

</body>
</html>
